<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.cdp.aifdbck.rsm.service.impl.AiFeedbackResumeMapper">

	<!-- //현재 구독정보가 잇으면 최신 결제 정보(남은 횟수 포함) 가져오기
	public PaymentVO selectLastPaymentInfo(MemberSubscriptionVO currentSub);
	 -->
	<select id="selectLastPaymentInfo" parameterType="kr.or.ddit.mpg.pay.service.MemberSubscriptionVO" resultType="kr.or.ddit.mpg.pay.service.PaymentVO">
		SELECT
		    PAY_ID,
		    MS_ID,
		    PAY_DATE,
		    PAY_RESUME_CNT
		FROM
		    PAYMENT
		WHERE
		    MS_ID = #{msId}
		ORDER BY
		    PAY_ID DESC
		FETCH FIRST 1 ROW ONLY
	</select>
	
	<!-- 
	//횟수 차감 및 AI 피드백을 요청
	public int deductAndGetFeedback(int payId);
	 -->
	<update id="deductAndGetFeedback" parameterType="int">
		UPDATE	PAYMENT
		SET		PAY_RESUME_CNT  = PAY_RESUME_CNT  - 1
		WHERE	PAY_ID = #{payId} 
		AND		PAY_RESUME_CNT > 0
	</update>
	
	<select id="selectLastMokPaymentInfo" parameterType="kr.or.ddit.mpg.pay.service.MemberSubscriptionVO" resultType="kr.or.ddit.mpg.pay.service.PaymentVO">
		SELECT
		    PAY_ID,
		    MS_ID,
		    PAY_DATE,
		    PAY_MOCK_CNT
		FROM
		    PAYMENT
		WHERE
		    MS_ID = #{msId}
		ORDER BY
		    PAY_ID DESC
		FETCH FIRST 1 ROW ONLY
	</select>
	
</mapper>