<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mpg.pay.service.impl.PayMemberMapper">

	<!-- 
	회원id를 기반으로 회원정보 조회
	public MemberVO selectMemberById(int memId);
	 -->
	<select id="selectMemberById" resultType="kr.or.ddit.main.service.MemberVO" > 
		SELECT
		        MEM_ID
		      , MEM_EMAIL
		      , MEM_NAME
		      , MEM_PHONE_NUMBER
		FROM    MEMBER
		WHERE   MEM_ID  = #{memId}
	</select>

</mapper>