<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.video.service.impl.VideoMapper">
	<update id="createVideoChatRoom">
		UPDATE COUNSELING
		SET COUNSEL_URL_COU = #{couUrl},
			COUNSEL_URL_USER= #{userUrl}
		WHERE COUNSEL_ID =#{counselId}
	</update>
</mapper>