@charset "UTF-8";

/* ==========================================================================
   alert
   ========================================================================== */
/* 모달 배경 */
.custom-confirm-overlay{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
	z-index: 9998;
}

.custom-confirm {
    display: none;
    position: fixed;
    top: 20px;               /* 맨 위에서 살짝 띄움 */
    left: 50%;               /* 가로 중앙 */
    transform: translateX(-50%);
    width: 440px;            /* 창 너비 */
    z-index: 9999;
    padding: 12px 20px;
    animation: slideDown 0.3s ease;
}

.custom-confirm h4 {
	margin: 2px 0 8px;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
}

/* 모달 박스 */
.custom-confirm__content {
	background: #fff;
	padding: 20px 20px;
	border-radius: 10px;
	text-align: center;
	width: 440px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.custom-confirm__buttons {
    display: flex;
    gap: 10px;
    margin-top: 16px;
    justify-content: flex-end;
}

.custom-confirm__buttons button {
	padding: 8px 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.confirmOk {
	appearance: none;
	border: none;
	border-radius: 12px;
	padding: 11px 18px;
	font-weight: 700;
	cursor: pointer;
	background: #6a82fb;
	color: #fff;
	transition: all 0.15s ease;
	box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
}

#confirmCancel {
	background: #f3f5f7;
	color: #202427
}

.confirmOk, #confirmCancel :hover{
	opacity: 0.92;
	transform: translateY(-1px);
	box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

.pData{
	margin: 10px 0;
    background: #f8fafb;
    border: 1px dashed #e4e9ee;
    border-radius: 12px;
    padding: 10px 12px;
    color: #47515b;
}

.admin-side-sidebar {
	width: 260px;
	background-color: #07223D;
	color: white;
	height: 100vh;
	padding: 0;
	float: left;
	transform: translateX(-100%);
	transition: transform 0.5s ease;
	position: fixed;
	z-index: 999;
}

.admin-side-sidebar.active {
	transform: translateX(0);
}

.admin-side-logo {
	padding: 50px 0 20px 0;
	justify-content: center;

}

.admin-side-logo-text {
	padding: 0 0 20px 80px;
}

.admin-side-logo-container {
	display: flex;
	justify-content: center;

}

.admin-side-menu {
	list-style: none;
	padding: 0;
	padding-top: 30px;
}

.admin-side-menu-item {
	padding-bottom: 30px;
}

.admin-side-menu-item.open {
	width: 75%;
	background-color: rgba(1, 174, 188, 0.22);
	color: #01AEBC;
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.admin-side-mainMove a{
	width: 100%;
	height: 50px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.admin-side-mainMove:hover {
	cursor: pointer;
}

.admin-side-portaltext {
	color : black;
	font-size: 15px;
	font-weight: bold;
}

.admin-side-mainMove img {
	width: 15px;
	height: 15px;
	padding-right: 10px;
}

.admin-side-menu-item>a {
	display: block;
	padding: 10px 10px 10px 30px;
	color: white;
	text-decoration: none;
	font-size: 14px;
	cursor: pointer;
	border-top: 1px solid #848EFB;
	border-right: 1px solid #848EFB;
	border-bottom: 1px solid #848EFB;
	width: 60%;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	transition: all 0.3s ease;
}

.admin-side-menu-item>a:hover {
	width: 75%;
	background-color: rgba(1, 174, 188, 0.22);
	color: #01AEBC;
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.admin-side-submenu {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease;
	padding-left: 15px;
/* 	padding-top: 15px; */
	list-style: none;
}

.admin-side-submenu.open {
	max-height: 500px;
}

.admin-side-submenu li a {
	font-size: 14px;
	color: #e0e0e0;
	display: block;
	padding: 6px 10px;
	transition: all 0.3s ease;
	border-radius: 8px;
	text-decoration: none;
}

.admin-side-submenu li a:hover {
	background-color: #1b3b5c;
	color: white;
	padding-left: 20px;
	transform: translateX(5px);
}

